body    {
    width: 100%;
    margin: auto;
}
.toph {
    background-color: #007765;
    top: 0;
    height: 84px;
    position: fixed;
    width: 100%;
    }
.tophl img {
    height: 45px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.undrhdr    {
    background-image: url(Pics/1bg.png);
    background-size: cover;
    margin-top: 84px;
    height: 403px;
    width: 100%;
}
h1  {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 84px;
    text-align: center;
    color: #FFFFFF;
    padding: 160px;
    margin: 0;
}
.tophl {
    display: inline-block;
}
.tophr {
    display: inline-block;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    float: right;
    padding-right: 55px;
}
.tophr a {
    text-decoration: none;
    color: #FFFFFF;

}
.tophr a:visited {
    color: #FFFFFF;
}
.tophr {
    padding-top: 29px;
    padding-bottom: 26px;
}
.bl1 {
    background-color:#EEEEEE;
    padding:    auto 55px;
    height: 488px;
}
h2  {
    font-family: Roboto;
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    color: #007765;
    margin: auto;
}
p   {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    color: #000000;
}
.bl1    {
    padding:    48px 54px 92px 55px;
}
#wi    {
    font-family: Roboto;
    font-style: italic;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    color: #FFFFFF;
    padding: 128px 163px 127px 163px;
}
.bl2    {
    background-image: url(Pics/2bg.png);
    height: 483px;
    background-size: cover;
}
#RoundLogo {
    float: left;
    width: 115px;
    margin-right: 45px;
}
.bl3, .bl41, .bl42    {
    padding:    48px 54px 92px 55px;
}
section {
    background-color: #EEEEEE;
    padding-top: 48px;
    height: 797px;
}
figure  {
    width: 220px;
    display: inline-block;
}
.ava {
    width: 168px;
}
.bl41, .bl42 {
    text-align: center;
    padding-bottom: 30px;
}
.name   {
    font-family: Roboto;
    font-style: normal;
    font-weight: bolder;
    font-size: 24px;
    line-height: 28px;
    color: #007765;
}
.work   {
    font-family: Roboto;
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}
footer {
    background-color: #333333;
    height: 176px;
}
footer p    {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    padding: 48px 339px 64px 340px;
    margin-top: 0;
}
.anchor { padding-top: 90px; }
.innerBox {
    width: 1219px;
    margin: auto;
    padding-left: 55px;
    padding-right: 55px;
}
.pseudoAnchor {
    position: relative;
    left: 0;
    top: -100px;}
@media screen and (max-width:1219px) {
    body {
        width: 1219px;
        padding: 0;
    }
}
